body,html{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 600px;
    height: 100px;
    flex-direction: column;
    margin:30px auto;
    box-shadow: 0px 0px 1px 1px gray;
    border-radius: 20px;
    padding: 10px 20px;
}
.tab-head{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    /* justify-content: space-between; */
    height: 50px;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 2px solid #e4e7ed;
}
.tab-tag.active{
    color: #409eff;
    padding-bottom: 3px;
}
.tab-head>.line{
    border-bottom: solid 2px #409eff;
    width: 50px;
    position: absolute;
    top: 100%;
    transition: all .5s;
}
.tab-tag{
    padding-bottom: 3px;
    text-align: center;
    margin-bottom: -2px;
    cursor: pointer;
    margin-right: 30px;
}
.tab-body{
    height: calc(100vh - 100px);
}
.tab-content{
    display: none;

}
.show{
    display: block;
}